
<h3>Formal Education</h3>

<table class="table table-condensed">

<tr>
  <td> B.tech</td>
  <td> Electrical Engineering, <strong>IIT Madras</strong></td>
</tr>
  
<tr>
  <td> Inter</td>
  <td> St. Patricks Jr. College. (Sri Mega Study Circle), Hyderabad</td>
</tr>

<tr>
    <td> schooling</td>
    <td>  J.M.J High School, Warangal</td>
  </tr>

  
</table>



<h3>Informal Education</h3>
<table class="table table-condensed">

<tr>
  <td> <strong>CodeAstra Developer BootCamp </strong></td>
  <td> This is the India`s first 3 month bootcamp for <strong>full stak developer</strong>. I worked on HTML5, CSS3, JavaScript & jQuery, Ruby, Software Design & Architecture, Agile & Lean Methodologies, Ruby on Rails, API Implementation.

</td>
</tr>
<tr>
    <td> Film Appreciation Course</td>
    <td>  A one month course conducted by KSFDC introducing the crafts of film making by professionals from the Malayalam and Tamil film industry. (I have also done some other 3-4 day workshops like screen writing workship by Kamal Hassan (at IITM, 2009), Rabi Kisku etc) </td>
  </tr>

</table>

<h3>Online Courses</h3>

<div> Online Classrooms like Udacity, Coursera helps in improving skills and staying updated at our own pace. Here are some of the courses I did</div>

<table class="table table-condensed">


<tr>
  <td> Human Computer Interaction </td>
  <td> A course from Coursera on design. It introduces the design aspects like need finding, storyboarding, wire framing, mockup. </td>
</tr>

<tr>
  <td> How to Start a startup </td>
  <td> Course by StartupClasses organised by Y-combinator and Stanford</td>
</tr>

<tr>
  <td> Introduction to Python </td>
  <td> Course on Udacity introducing python by building a search engine</td>
</tr>

<tr>
  <td> Gamification </td>
  <td> I just started this course. Gamification is the application of game elements and digital game design techniques to non-game problems </td>
</tr>


</table>


<h3>Developer Projects</h3>

<div> </div>

<table class="table table-condensed">

<div>
Here are some of the projects I have finished at CodeAstra BootCamp
</div>


<tr>
  <td> Swach Bharath </td>
  <td> An application built by a team of 5. This is to mark an unclean place, clean and share their work and challenge the friends </td>
  <td> Link </td>

</tr>


<tr>
  <td> Flames</td>
  <td> A game we played as kids </td>
  <td> Link </td>

</tr>

<tr>
  <td> Moi Site</td>
  <td> My personal website. You can also find some of my other small projects and more about myself here </td>
  <td> Link </td>

</tr>

<tr>
  <td> Moi Site</td>
  <td> My personal website. You can also find some of my other small projects and more about myself here </td>
  <td> Link </td>

</tr>

<tr>
  <td> Moi Site</td>
  <td> My personal website. You can also find some of my other small projects and more about myself here </td>
  <td> Link </td>

</tr>






</table>