<div class="wrapper">
  <!-- Brand and toggle get grouped for better mobile display -->
  
  <div class="big-box container-fluid">

    <div class="row">
      <!-- link_to "Photography",    photography_path -->
      <div class="col-md-3"> <a class="borderbox test" href="/photography"><span class="blog">Photography</span></a></div>

      <div class="col-md-3"> <a class="borderbox" href="/aboutme"><span class="blog">About me</span></a></div>
      <div class="col-md-3"> <a class="borderbox" href="/blog"><span class="blog">Web Dev</span></a></div>
      <div class="col-md-3"> <a class="borderbox" href="/education"><span class="blog">Education/skills</span></a></div>




    </div>


    <div class="row">

      <div class="col-md-3"> <a class="borderbox" href="/blog"><span class="blog">Blog</span></a></div>
      <div class="col-md-3"> <a class="borderbox" href="social"><span class="blog">Social</span></a></div>
      <div class="col-md-3"> <a class="borderbox" href="yoga"><span class="blog">Yoga</span></a></div>
      <div class="col-md-3"> <a class="borderbox" href="contacts"><span class="blog">Contact</span></a></div>


    </div>

  </div>



</div>

