// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.pagelinks{
  float: right;
  height: 100%;
  font-family: 'Indie Flower', cursive;
  font-size: 2em;
  list-style: none;
  margin-top: 10vh;
}